<header align="center">
  <%= button_to "Home", root_path, method: :get %>
</header>

<div class="result-box">
  <div align="center">
    <h1><%= @pokemon.name %></h1>
  </div>

  <div align="center">
    <p>Number: <%= @pokemon.number %></p>
    <%= image_tag "#{@pokemon.image}" %>
  </div>
  
  <%= form_tag '/pokemon', method: :get do %>
    <div align="center" class="poke-search">
      <p>Search for another Pokémon:</p>
      <%= text_field_tag :pokemon %>
      <%= submit_tag "Search" %>
    </div align="center">
  <% end %>
</div>